<launch>
  <arg name="robot_ip" doc="IP of robot controller" />
  <arg name="robot_port" default="8301" doc="Port of robot controller" />
  <arg name="robot_serial" default="000027104E20" doc="Serial of robot" />
  <arg name="robot_timeout" default="3" doc="Connection timeout" />
  <arg name="robot_transport" default="1" doc="Connection transport type" />
  <arg name="robot_name" doc="name of robot" />
  <arg name="robot_mode" default="1" doc="simulator mode"/>

  <param name="robot_ip" type="str" value="$(arg robot_ip)"/>
  <param name="robot_port" type="str" value="$(arg robot_port)"/>
  <param name="robot_serial" type="str" value="$(arg robot_serial)"/>
  <param name="robot_timeout" type="str" value="$(arg robot_timeout)"/>
  <param name="robot_transport" type="str" value="$(arg robot_transport)"/>
  <param name="robot_name" type="str" value="$(arg robot_name)"/>
  <param name="robot_mode" type="str" value="$(arg robot_mode)"/>

  <!-- driver -->
  <node name="neo_driver" pkg="neo_driver" type="neo_driver" output="screen">
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

</launch>
