<?xml version="1.0"?>

<launch>
  <arg name="robot_ip" doc="IP of robot controller" />
  <arg name="robot_name" doc="name of robot" />
  <arg name="sim" doc="connect robot with simulator"/>
  

  <!-- driver -->
  <node name="neo_driver" pkg="neo_driver" type="neo_driver" output="screen">
    <param name="robot_ip" type="str" value="$(arg robot_ip)"/>
    <param name="robot_name" type="str" value="$(arg robot_name)"/>
    <param name="sim" type="str" value="$(arg sim)"/>
  </node>
  
  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server">
    <param name="buffer_size" value="120.0"/>
  </node>

</launch>