<?xml version="1.0"?>
<launch>

  <arg name="robot_name" doc="name of robot" />

  <!-- Load robot description -->
  <include file="$(find neo_description)/launch/$(arg robot_name)_upload.launch"/>

  <!-- Joint state publisher -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <param name="use_gui" value="true" />
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- rviz -->
  <node name="$(arg robot_name)_rviz" pkg="rviz" type="rviz" args="-d $(find neo_description)/rviz/$(arg robot_name).rviz" />

</launch>
