<?xml version="1.0"?>
<launch>

  <!-- Load gazebo world -->
  <include file="$(find neo_gazebo)/launch/utils/gazebo_empty_world.launch" />

  <!-- Load description -->
  <include file="$(find neo_description)/launch/d435_upload.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="gazebo_model_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param /robot_description -model robot" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <include file="$(find neo_gazebo)/launch/utils/controller_utils.launch"/>

</launch>







