<?xml version="1.0"?>
<launch>
  <!-- Create an empty simulated world in gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" default="worlds/empty.world"/>  
    <arg name="paused" default="false"/>
    <arg name="gui" default="true"/>
  </include>
</launch>
