<?xml version="1.0"?>
<launch>
  <!-- Load gazebo world -->
  <include file="$(find neo_gazebo)/launch/utils/gazebo_empty_world.launch" />

  <!-- Load description -->
  <include file="$(find neo_description)/launch/NX63A1_with_ag95_d435_upload.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="gazebo_model_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param /robot_description -model robot" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <include file="$(find neo_gazebo)/launch/utils/controller_utils.launch"/>

  <rosparam file="$(find neo_gazebo)/controller/NX63A1/arm_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm_controller" />
  <node name="joint_group_position_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />

  <rosparam file="$(find neo_gazebo)/controller/AG95/gripper_controller.yaml" command="load"/>
  <node name="gripper_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper_controller" />

  <!-- Launch rqt joint trajectory controller -->
  <include file="$(find neo_gazebo)/launch/utils/rqt_controller.launch" />

</launch>







