<?xml version="1.0"?>
<launch>

  <!-- Create an empty world in gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" default="worlds/empty.world"/>  
    <arg name="paused" value="false"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Load the URDF and start rviz -->
  <include file="$(find neo_description)/launch/omni6_lite_rviz_test.launch" >
    <arg name="publish" value="false"/>
  </include>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <include file="$(find neo_gazebo)/launch/controller_utils.launch"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="gazebo_model_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -model omni6_lite -param robot_description" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find neo_gazebo)/controller/effort_controller_omni6_lite.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="neo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/omni6_lite"
      args="joint_state_controller
            first_joint_controller
            second_joint_controller
            third_joint_controller
            fourth_joint_controller
            fifth_joint_controller
            sixth_joint_controller" />

  <node name="joint_controllers" pkg="neo_gazebo" type="joint_controllers.py" output="screen" >
    <param name="use_gui" value="true" />
  </node>

</launch>
