<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" default="worlds/empty.world"/>  
    <arg name="paused" value="false"/>
    <arg name="gui" value="true"/>
  </include>

  <include file="$(find neo_description)/launch/omni_6_rviz_upload.launch"/>
  <include file="$(find neo_gazebo)/launch/controller_utils.launch"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -model omni_6 -param robot_description" />

  <rosparam file="$(find neo_gazebo)/controller/position_controller_omni_6.yaml" command="load"/>
  <node name="neo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
    args="neo_controller" />
    
</launch>
