<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="omni_6_transmission">

    <transmission name="first_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="first_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="first_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="second_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="second_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="second_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="third_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="third_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="third_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

        <transmission name="fourth_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="fourth_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="fourth_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

        <transmission name="fifth_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="fifth_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="fifth_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

        <transmission name="sixth_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="sixth_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="sixth_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
