<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find neo_description)/urdf/omni_6/omni_6_robot.urdf.xacro'" /> 

  <node
    name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
 	<param name="state_publish_rate" type="double" value="1.0" />
	<param name="use_gui" value="true"/>
  </node>

  <node
    name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
 
  <node
    name="omni_6_rviz" pkg="rviz" type="rviz" args="-d $(find neo_description)/rviz/omni_6.rviz" />

</launch>
